<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>About</title>
</head>
<body>
    {{>navbar}}
    <section class="about-section">
        <div class="small-container">
           <h1>What is <span>Thought</span> ?</h1>
           <p>
                Thought, the cornerstone of human consciousness, is a fascinating and profound phenomenon that shapes our perceptions, emotions, and actions. It is the intangible thread that weaves through the fabric of our minds, giving rise to ideas, memories, and dreams.

                At its core, thought is the process of cognitive reasoning, imagination, and contemplation. It empowers us to make sense of the world, solve problems, and communicate complex ideas. Thoughts can be fleeting and ephemeral, like a passing breeze, or they can become the foundation for life-changing decisions and innovations.

                In our thought-storing website, we recognize the value of capturing and preserving these fleeting moments of inspiration and insight. We provide a virtual canvas where you can organize, cherish, and revisit your thoughts, fostering self-awareness and personal growth.

                So, join us on this intellectual journey, as we celebrate the wonder of thought and its infinite potential to shape our lives and the world around us.
            </p>
        </div>
    </section>
</body>
</html>