<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>About</title>
</head>
<body>
    {{>navbar}}
    <section class="about-section">
        <div class="small-container">
           <h1>What is <span>Thought</span> ?</h1>
           <p>
                Welcome to our thought-sharing platform! I'm Sumit, the creator of this space dedicated to open communication and diverse perspectives. Here, we believe that sharing thoughts leads to meaningful connections and positive change. Our mission is to provide a safe, inclusive environment for individuals from all backgrounds to express themselves freely. Whether you're an artist, scientist, philosopher, or student, your voice matters. Join our global community, engage in thought-provoking discussions, and explore a wide range of topics. Let's build a place where ideas flourish, opinions are respected, and knowledge thrives. Together, we'll embark on a thought-sharing adventure like no other.
            </p>
        </div>
    </section>
</body>
</html>