<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Add thought</title>
</head>
<body>
    {{>navbar}}
    <section class="addThought-section">
        <div class="small-container">
            <form action="/dashboard/thought/add" class="addThought-form" method="POST">
                <input type="text" name="title" id="" placeholder="Your Title" value="">
                <textarea name="content" placeholder="Your Thought"></textarea>
                <div class="addThoughtForm-bottom">
                    <select name="scope" class="scope">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select>
                    <input type="submit" value="Add" class="primary-btn">
                </div>
            </form>
        </div>
    </section>
</body>
</html>