<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <title>Thoughts</title>
</head>
<body>
    {{> navbar}}
    <div class="home-section">
        <div class="container">
            <div class="home-content">
                <h1 class="home-title">Write your <span>thoughts</span> as they come to you.</h1>
                <a href="/auth/google" class="home-btn primary-btn">Try thoughts, it's free</a>
            </div>
        </div>
    </div>
</body>
</html>