<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-logo">Thoughts</a>
        <ul class="navbar-items">
            <li class="navbar-item"><a href="/">Home</a></li>
            <li class="navbar-item"><a href="/about">About</a></li>
            <li class="navbar-item"><a href="/dashboard">Dashboard</a></li>
        </ul>
        <button>
            <i class="fa-regular fa-bars open-icon"></i>
            <i class="fa-regular fa-xmark close-icon"></i>
        </button>
    </div>
</nav>